img {
  height: 203.23px;
  object-fit: cover;
}

.light-container {
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.light-container .box {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-position: center;
}
.w-7 {
  width: 28px;
}
.pointer {
  cursor: pointer;
}
#closed path {
  fill: blue;
}